In [1]:
import pandas as pd
import numpy as np

In [2]:
train_hh_data = pd.read_csv("Data/train_hh_features.csv")

In [3]:
train_hh_data

,hhid,com,weight,strata,utl_exp_ppp17,male,hsize,num_children5,num_children10,num_children18,...,consumed4200,consumed4300,consumed4400,consumed4500,consumed4600,consumed4700,consumed4800,consumed4900,consumed5000,survey_id
0,100001,1,75,4,594.80627,Female,1,0,0,0,...,Yes,No,No,No,Yes,Yes,Yes,Yes,No,100000
1,100002,1,150,4,1676.27230,Female,2,0,0,0,...,Yes,No,No,No,No,Yes,Yes,No,No,100000
2,100003,1,375,4,506.93719,Male,5,0,0,2,...,Yes,Yes,No,Yes,Yes,Yes,Yes,No,Yes,100000
3,100004,1,375,4,824.61786,Male,5,0,0,1,...,No,Yes,No,No,No,Yes,Yes,No,No,100000
4,100005,1,525,4,351.47644,Male,7,1,0,0,...,Yes,No,No,Yes,No,Yes,Yes,Yes,No,100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104229,337458,1,616,7,143.58849,Female,4,2,1,0,...,Yes,No,No,No,No,Yes,Yes,No,Yes,300000
104230,337459,1,616,7,268.44803,Female,4,0,0,1,...,Yes,No,No,No,No,Yes,No,No,No,300000
104231,337460,1,1540,7,243.47612,Male,10,2,3,2,...,Yes,No,No,Yes,No,Yes,Yes,No,No,300000
104232,337461,1,1232,7,337.12079,Male,8,0,0,3,...,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,300000
104233,337462,1,154,7,243.47612,Female,1,0,0,0,...,Yes,No,No,Yes,No,Yes,No,No,No,300000

In [4]:
train_hh_data["survey_id"].value_counts()

survey_id
300000    37462
200000    34584
100000    32188
Name: count, dtype: int64

In [5]:
train_hh_data.columns

Index(['hhid', 'com', 'weight', 'strata', 'utl_exp_ppp17', 'male', 'hsize',
       'num_children5', 'num_children10', 'num_children18', 'age', 'owner',
       'water', 'toilet', 'sewer', 'elect', 'water_source',
       'sanitation_source', 'dweltyp', 'num_adult_female', 'num_adult_male',
       'num_elderly', 'employed', 'sworkershh', 'share_secondary', 'educ_max',
       'sfworkershh', 'any_nonagric', 'sector1d', 'region1', 'region2',
       'region3', 'region4', 'region5', 'region6', 'region7', 'urban',
       'consumed100', 'consumed200', 'consumed300', 'consumed400',
       'consumed500', 'consumed600', 'consumed700', 'consumed800',
       'consumed900', 'consumed1000', 'consumed1100', 'consumed1200',
       'consumed1300', 'consumed1400', 'consumed1500', 'consumed1600',
       'consumed1700', 'consumed1800', 'consumed1900', 'consumed2000',
       'consumed2100', 'consumed2200', 'consumed2300', 'consumed2400',
       'consumed2500', 'consumed2600', 'consumed2700', 'consumed2800',
       'consumed2900', 'consumed3000', 'consumed3100', 'consumed3200',
       'consumed3300', 'consumed3400', 'consumed3500', 'consumed3600',
       'consumed3700', 'consumed3800', 'consumed3900', 'consumed4000',
       'consumed4100', 'consumed4200', 'consumed4300', 'consumed4400',
       'consumed4500', 'consumed4600', 'consumed4700', 'consumed4800',
       'consumed4900', 'consumed5000', 'survey_id'],
      dtype='object')

In [6]:
feature_val_desc = pd.read_csv("Data/feature_value_descriptions.csv")

In [7]:
feature_val_desc

,Variable name,Variable label,Value,Value label
0,any_nonagric,Any household member working in non-agricultur...,0,No
1,any_nonagric,Any household member working in non-agricultur...,1,Yes
2,consumed100,Breads,0,No
3,consumed100,Breads,1,Yes
4,consumed1000,Poultry offal,0,No
...,...,...,...,...
174,water_source,Sources of drinking water,10,Unprotected dug well
175,water_source,Sources of drinking water,11,Cart with small tank/drum
176,water_source,Sources of drinking water,12,Tanker-truck
177,water_source,Sources of drinking water,13,Surface water
178,water_source,Sources of drinking water,14,Other

In [8]:
feature_desc = pd.read_csv("Data/feature_descriptions.csv")

In [9]:
feature_desc

,Variable name,Storage type,Variable label
0,sample,str8,Data Type
1,hhid,int,Household unique identifier
2,com,byte,Identifier of household member
3,weight,int,Household sampling weight
4,strata,byte,Stratification variable
...,...,...,...
103,_pline75,float,Poverty line: 75th percentile of welfare distr...
104,_pline80,float,Poverty line: 80th percentile of welfare distr...
105,_pline85,float,Poverty line: 85th percentile of welfare distr...
106,_pline90,float,Poverty line: 90th percentile of welfare distr...
107,_pline95,float,Poverty line: 95th percentile of welfare distr...

In [10]:
train_rates = pd.read_csv("Data/train_rates_gt.csv")

In [21]:
train_rates

,survey_id,pct_hh_below_3.17,pct_hh_below_3.94,pct_hh_below_4.60,pct_hh_below_5.26,pct_hh_below_5.88,pct_hh_below_6.47,pct_hh_below_7.06,pct_hh_below_7.70,pct_hh_below_8.40,pct_hh_below_9.13,pct_hh_below_9.87,pct_hh_below_10.70,pct_hh_below_11.62,pct_hh_below_12.69,pct_hh_below_14.03,pct_hh_below_15.64,pct_hh_below_17.76,pct_hh_below_20.99,pct_hh_below_27.37
0,100000,0.067364,0.118927,0.169905,0.221865,0.271564,0.319585,0.366329,0.419816,0.471454,0.523798,0.574413,0.623091,0.671263,0.721329,0.773303,0.819770,0.865121,0.909075,0.954239
1,200000,0.059326,0.111560,0.159023,0.211754,0.263100,0.311758,0.356914,0.407631,0.463443,0.512931,0.559361,0.609337,0.659291,0.708043,0.760932,0.809045,0.860350,0.906385,0.952805
2,300000,0.049803,0.100381,0.149502,0.200144,0.250192,0.300211,0.349596,0.399930,0.449845,0.499930,0.550082,0.599926,0.650088,0.699617,0.750341,0.800111,0.850081,0.899974,0.949988

In [11]:
train_rates.columns

Index(['survey_id', 'pct_hh_below_3.17', 'pct_hh_below_3.94',
       'pct_hh_below_4.60', 'pct_hh_below_5.26', 'pct_hh_below_5.88',
       'pct_hh_below_6.47', 'pct_hh_below_7.06', 'pct_hh_below_7.70',
       'pct_hh_below_8.40', 'pct_hh_below_9.13', 'pct_hh_below_9.87',
       'pct_hh_below_10.70', 'pct_hh_below_11.62', 'pct_hh_below_12.69',
       'pct_hh_below_14.03', 'pct_hh_below_15.64', 'pct_hh_below_17.76',
       'pct_hh_below_20.99', 'pct_hh_below_27.37'],
      dtype='object')

In [12]:
train_hh_features = pd.read_csv("Data/train_hh_gt.csv")

In [13]:
train_hh_features

        survey_id    hhid  cons_ppp17
0          100000  100001   25.258402
1          100000  100002   16.996706
2          100000  100003   13.671848
3          100000  100004    7.189475
4          100000  100005   12.308855
...           ...     ...         ...
104229     300000  337458    2.830888
104230     300000  337459    3.144309
104231     300000  337460    3.319158
104232     300000  337461    6.088739
104233     300000  337462    3.635263

[104234 rows x 3 columns]

In [14]:
train_hh = train_hh_data.set_index(["survey_id","hhid"]) \
    .join(train_hh_features.set_index(["survey_id","hhid"]))

In [15]:
train_hh

                  com  weight  strata  utl_exp_ppp17    male  hsize  \
survey_id hhid
100000    100001    1      75       4      594.80627  Female      1
          100002    1     150       4     1676.27230  Female      2
          100003    1     375       4      506.93719    Male      5
          100004    1     375       4      824.61786    Male      5
          100005    1     525       4      351.47644    Male      7
...               ...     ...     ...            ...     ...    ...
300000    337458    1     616       7      143.58849  Female      4
          337459    1     616       7      268.44803  Female      4
          337460    1    1540       7      243.47612    Male     10
          337461    1    1232       7      337.12079    Male      8
          337462    1     154       7      243.47612  Female      1

                  num_children5  num_children10  num_children18  age  ...  \
survey_id hhid                                                        ...
100000    100001              0               0               0   75  ...
          100002              0               0               0   61  ...
          100003              0               0               2   49  ...
          100004              0               0               1   58  ...
          100005              1               0               0   57  ...
...                         ...             ...             ...  ...  ...
300000    337458              2               1               0   33  ...
          337459              0               0               1   48  ...
          337460              2               3               2   54  ...
          337461              0               0               3   49  ...
          337462              0               0               0   76  ...

                 consumed4200 consumed4300 consumed4400 consumed4500  \
survey_id hhid
100000    100001          Yes           No           No           No
          100002          Yes           No           No           No
          100003          Yes          Yes           No          Yes
          100004           No          Yes           No           No
          100005          Yes           No           No          Yes
...                       ...          ...          ...          ...
300000    337458          Yes           No           No           No
          337459          Yes           No           No           No
          337460          Yes           No           No          Yes
          337461          Yes          Yes           No          Yes
          337462          Yes           No           No          Yes

                 consumed4600 consumed4700 consumed4800 consumed4900  \
survey_id hhid
100000    100001          Yes          Yes          Yes          Yes
          100002           No          Yes          Yes           No
          100003          Yes          Yes          Yes           No
          100004           No          Yes          Yes           No
          100005           No          Yes          Yes          Yes
...                       ...          ...          ...          ...
300000    337458           No          Yes          Yes           No
          337459           No          Yes           No           No
          337460           No          Yes          Yes           No
          337461           No           No          Yes          Yes
          337462           No          Yes           No           No

                  consumed5000  cons_ppp17
survey_id hhid
100000    100001            No   25.258402
          100002            No   16.996706
          100003           Yes   13.671848
          100004            No    7.189475
          100005            No   12.308855
...                        ...         ...
300000    337458           Yes    2.830888
          337459            No    3.144309
          337460            No    3.319158
          337461           Yes    6.088739
          337462            No    3.635263

[104234 rows x 87 columns]

In [16]:
train_hh.to_csv("train_hh.csv", index=False)

In [17]:
train_pd = train_hh.merge(
    train_rates,
    on="survey_id",
    how="left"   
)

In [18]:
train_pd

,survey_id,com,weight,strata,utl_exp_ppp17,male,hsize,num_children5,num_children10,num_children18,...,pct_hh_below_9.13,pct_hh_below_9.87,pct_hh_below_10.70,pct_hh_below_11.62,pct_hh_below_12.69,pct_hh_below_14.03,pct_hh_below_15.64,pct_hh_below_17.76,pct_hh_below_20.99,pct_hh_below_27.37
0,100000,1,75,4,594.80627,Female,1,0,0,0,...,0.523798,0.574413,0.623091,0.671263,0.721329,0.773303,0.819770,0.865121,0.909075,0.954239
1,100000,1,150,4,1676.27230,Female,2,0,0,0,...,0.523798,0.574413,0.623091,0.671263,0.721329,0.773303,0.819770,0.865121,0.909075,0.954239
2,100000,1,375,4,506.93719,Male,5,0,0,2,...,0.523798,0.574413,0.623091,0.671263,0.721329,0.773303,0.819770,0.865121,0.909075,0.954239
3,100000,1,375,4,824.61786,Male,5,0,0,1,...,0.523798,0.574413,0.623091,0.671263,0.721329,0.773303,0.819770,0.865121,0.909075,0.954239
4,100000,1,525,4,351.47644,Male,7,1,0,0,...,0.523798,0.574413,0.623091,0.671263,0.721329,0.773303,0.819770,0.865121,0.909075,0.954239
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104229,300000,1,616,7,143.58849,Female,4,2,1,0,...,0.499930,0.550082,0.599926,0.650088,0.699617,0.750341,0.800111,0.850081,0.899974,0.949988
104230,300000,1,616,7,268.44803,Female,4,0,0,1,...,0.499930,0.550082,0.599926,0.650088,0.699617,0.750341,0.800111,0.850081,0.899974,0.949988
104231,300000,1,1540,7,243.47612,Male,10,2,3,2,...,0.499930,0.550082,0.599926,0.650088,0.699617,0.750341,0.800111,0.850081,0.899974,0.949988
104232,300000,1,1232,7,337.12079,Male,8,0,0,3,...,0.499930,0.550082,0.599926,0.650088,0.699617,0.750341,0.800111,0.850081,0.899974,0.949988
104233,300000,1,154,7,243.47612,Female,1,0,0,0,...,0.499930,0.550082,0.599926,0.650088,0.699617,0.750341,0.800111,0.850081,0.899974,0.949988

In [19]:
train_pd.to_csv("train_pd.csv", index=False)

In [22]:
test = pd.read_csv("Data/test_hh_features.csv")

In [25]:
test_rates = test.merge(
    train_rates,
    on="survey_id",
    how="left"
)

In [26]:
test_rates

,hhid,com,weight,strata,utl_exp_ppp17,male,hsize,num_children5,num_children10,num_children18,...,pct_hh_below_9.13,pct_hh_below_9.87,pct_hh_below_10.70,pct_hh_below_11.62,pct_hh_below_12.69,pct_hh_below_14.03,pct_hh_below_15.64,pct_hh_below_17.76,pct_hh_below_20.99,pct_hh_below_27.37
0,400001,1,320,4,567.80914,Female,4,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,400002,1,480,4,561.70367,Female,6,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,400003,1,320,4,183.16423,Male,4,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,400004,1,320,4,696.02411,Male,4,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,400005,1,320,4,286.95731,Male,4,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103018,634209,1,963,8,402.71024,Male,3,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103019,634210,1,2247,8,238.44685,Male,7,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103020,634211,1,963,8,211.95276,Male,3,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103021,634212,1,642,8,254.34331,Female,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103022,634213,1,963,8,238.44685,Male,3,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for i in test.columns:
    print(i)